<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Stripe Getting Started Form</title>
 
  <!-- The required Stripe lib -->
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
 
  <!-- jQuery is used only for this example; it isn't required to use Stripe -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 
  <script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey('PUBLISHABLE KEY');

    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and re-submit
        $form.get(0).submit();
      }
    };

    jQuery(function($) {
      $('#payment-form').submit(function(e) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    });
  </script>

  <script type="text/javascript">
  $(document).ready(function(){
    var unit_price = <%=@unit_price%>;
    var unit_quantity = $(".unit_quantity").val();
    $(".total_price").text("$" + (unit_price * unit_quantity).toFixed(2));

      $(".unit_quantity").change(function() {
        var change = $(".unit_quantity").val();
        // var unit_quantity = $(".unit_quantity").value;
        // $("total_price").text($(".unit_quantity").value() * unit_price);
        $(".total_price").text("$" + (unit_price * change).toFixed(2));
        // $(".total_price").text(change);

      });

  });
  </script>

<% follower = Follower.find(@follower_id) %>

<div class="new_event_form">
  <div class="new_event_title">
    <h2>Purchase Event Tickets</h2>
  </div>
  <p>Welcome <%= follower[:follower_email] %>. Please enter your information here to secure your ticket!</p>
  <br>
  <br>

  <form method='post' action="/events/<%= @event_id %>/<%= @follower_id %>" id="payment-form" class="form-horizontal">

      <div class="form-group">
          <label class="col-sm-4 control-label new_event_label">Name:</label>
          <input class="new_event_input" type="text" name="name" required>
      </div>
      
      <div class="form-group">
          <label class="col-sm-4 control-label new_event_label">Ticket Quantity:</label>
          <input type="number" name="unit_quantity" value=1 class="new_event_input unit_quantity" required>
      </div> 
      <div class="form-group">
          <label class="col-sm-4 control-label new_event_label">Credit Card Number:</label>
          <input class="new_event_input" type="text" data-stripe="number" required>
      </div>
      <div class="form-group">
          <label class="col-sm-4 control-label new_event_label">CVC:</label>
          <input class="new_event_input" type="text" data-stripe="cvc" required>
      </div>
      <div class="form-group">
          <label class="col-sm-4 control-label new_event_label">Expiration Month:</label>
          <input class="new_event_input" type="text" data-stripe="exp-month" required>
      </div>  
      <div class="form-group">
          <label class="col-sm-4 control-label new_event_label">Expiration Year:</label>
          <input class="new_event_input" type="text" data-stripe="exp-year" required>
      </div>     
     
      <!-- <div class="form-group">
          <label>Event URL:</label>
          <input type="text" name="event_url">
      </div>  -->
      <div class="form-group">
          <p class="new_event_input total_price_label"><%= "Unit Price: $" + @unit_price.to_s%>.00</p>
          <p class="new_event_input total_price_label">Total Price <span class="total_price"></span></p>
      </div>

      <div class="form-group">
      <input class="new_event_input submit_button" type="submit" value="Submit" >
      
      <form method='post' action="/events/<%= @event_id %>/decline/<%= @follower_id %>" id="decline-form">

        <input class="new_event_input" type="submit" value="Decline" >

      </form>
  
      </div>
  </form>


</div>