
<h1><%= @event.event_name %></h1>
<h3><%= @event.date %></h3>
<h3><%= @event.time %></h3>
<h3><%= @event.location %></h3>

<div>
    <% @event.followers.each do |follower| %>
    <div>
        <br>Name: <%= follower.follower_name %>
        <br>Email: <%= follower.follower_email %>
        <br>Tickets: <%= follower.unit_quantity %>
        <% if follower.status != nil %>
           <br> Status: <%= follower.status %>
        <% end %><br><br>        
    <% end %>
    </div>
</div>

<% if @event.captured_status == false %>
  <form method='post' action="/events/<%= @event.id %>">
  <form>
    <div>
    <p>Bought the tickets? Receive your friends' payments:</p><br>
      <input type="submit" value="Receive Payback" >
    </div>
  </form>
<% else %>
  You have captured your friends' payments who have confirmed. Thanks!
<% end %>
