

<div class="your_events_container">
    <% @leader.events.each do |event| %>
    <div class="each_event_container">

        <br><h3>Event Name: <%= event.event_name %></h3>
        <a href="/events/<%= event.id %>"> Event Details</a>
        <br>Location: <%= event.location %>
        <br>Date: <%= event.date %>
        <br>Time: <%= event.date %>
        <br># Invited: <%= event.followers.count %>
       
    
    </div>
    <% end %>
</div>
